:markdown
  Experience
  ==========

  Full Stack Web Developer
  ------------------------

  ### 2012-2013 | [XIV Congress of the European Society for Evolutionary Biology (ESEB 2013)](http://eseb2013.com) ###
  I was the sole web developer and built everything from the ground up. I'm still the current maintainer.

  keywords: [Node.js](http://nodejs.org/), [Express.js](http://expressjs.com/), [Bootstrap](http://twitter.github.com/bootstrap/), [MongoDB](http://www.mongodb.org/), [Redis](http://redis.io/), [CoffeeScript](http://coffeescript.org/), [Jade](http://jade-lang.com/), [Stylus](http://learnboost.github.io/stylus/)  

  ### 2013 | [Geeklist](http://geekli.st) ###
  I'm a team member, responsible for [LinkedIn integration](http://geekli.st/bmpvieira/i-built-the-geeklist-integration-with-linkedin) and backend tasks.  

  keywords: [Node.js](http://nodejs.org/)

.page-break
:markdown
  ### 2013 | [CoBiG²](http://cobig2.fc.ul.pt) ###
  I built the new website in Angular.js using many APIs (mostly as an experiment and for learning) but I'm not the current maintainer.  
  [I open sourced the code](http://github.com/bmpvieira/cobig2).

  keywords: [Node.js](http://nodejs.org/), [Angular.js](http://angularjs.org), [Bootstrap](http://twitter.github.com/bootstrap/), [LinkedIn API](http://developer.linkedin.com/apis), [Mendeley API](http://dev.mendeley.com), [Dropbox API](http://dropbox.com/developers), [Facebook API](http://developers.facebook.com), [Github API](http://developer.github.com)

  Bioinformatician
  ----------------
  ### 2013-Present | [Queen Mary, University of London](http://qmul.ac.uk) ###
  I'm a PhD Student under the supervision of [Yannick Wurm](http://yannick.poulet.org/team.html) and doing research in population genomics.

  I'm also contributing for a [Crowdsourcing Web App for Gene Annotation](http://github.com/bmpvieira/afra), built with Ruby, PostgreSQL and Angular.js

  ### 2009-2013 | [Computational Biology & Population Genomics Group (CoBiG²)](http://cobig2.fc.ul.pt) ###
  I've analysed Next-generation sequencing data and also performed sysadmin tasks.

  keywords: [Python](http://python.org)

  #### Papers ####

  ##### Published #####

  * Bradnam KR, Fass JN, Alexandrov A, *et al*:
  **[Assemblathon 2: evaluating de novo methods of genome assembly in three vertebrate species.](http://www.gigasciencejournal.com/content/2/1/10/)** *GigaScience* 2013, **2**:10

  ##### Submitted #####

  * Pina-Martins F, **Vieira BM**, Seabra SG, Batista D, Paulo OS:
  **4Pipe4 – A 454 data analysis pipeline specialized for SNP detection.**

  ##### Manuscript in preparation #####

  * Talhinhas P, *et al*: **Transcriptomic analysis of *Hemileia vastatrix* in pre and post-penetration stages.**

  * **Vieira BM**, Sebastiana M, *et al*: **Cork oak transcriptome (provisional title)**

  ##### In conference proceedings #####

  * Talhinhas P, Azinheira HG, Loureiro A, Batista D, **Vieira BM**, Pina-Martins F, Tisserant E, Petitot AS, Paulo OS, Duplessis S, Silva MC, Fernandez D (2010): [**Overview of the functional virulent genome of the coffee leaf rust pathogen *Hemileia vastatrix*.**](http://www.asic2010bali.org) In proceedings at the 23rd International Conference on Coffee Science from the Association for Science and Information on Coffee (ASIC). Indonesian Coffee and Cocoa Research Institute (ICCRI), Bali, Indonesia.


  #### Talks ####

  * Pina-Martins F, **Vieira BM**, Seabra SG, Batista D, Paulo OS (2013): [**Making the best of your 454 dataset using the 4Pipe4 analysis pipeline – from an unknown genome to a detailed SNPs analysis: A case study with a Quercus suber dataset.**](http://eseb2013.com/delegates/fpina-martins#981) Presented at the XIV Congress of the European Society for Evolutionary Biology (ESEB 2013). Faculty of Sciences of the University of Lisbon (FCUL), Lisbon, Portugal.

  * **Vieira BM**, Pina-Martins F, Seabra SG, Paulo OS (2010):
  [**Analysis of software for the NGS technology: The Survival
  Guide.**](http://www.euro2010lisbon.org) Presented at the 24th European Conference on Operational Research. Faculty of Sciences of the University of Lisbon (FCUL), Lisbon, Portugal.

  #### Posters ####
  * 2013 - Pina-Martins F, **Vieira BM**, Seabra SG, Batista D, Paulo OS (2013): [**The 4Pipe4 analysis pipeline – how to exploit the hidden SNPs in your 454 dataset: a testcase with a quercus suber dataset.**](http://fisiologiavegetal2013.itqb.unl.pt/images/docs/FV2013_Book_of_Abstracts.pdf) Exhibited at the "XIII Congresso Luso-Espanhol de Fisiologia Vegetal". Faculty of Sciences of the University of Lisbon, Lisbon, Portugal.

  * 2013 - Talhinhas P, Azinheira HG, **Vieira BM**, Loureiro A, Tavares S, Batista D, Morin E, Petitot AS, Paulo OS, Poulain J, Silva C, Duplessis S, Silva MC, Fernandez D (2013): [**Overview of the functional virulent genome of the coffee leaf rust pathogen, *Hemileia vastatrix*.**](http://fisiologiavegetal2013.itqb.unl.pt/images/docs/FV2013_Book_of_Abstracts.pdf) Exhibited at the "XIII Congresso Luso-Espanhol de Fisiologia Vegetal". Faculty of Sciences of the University of Lisbon, Lisbon, Portugal.

  * 2010 - Talhinhas P, Azinheira HG, Vieira A, Loureiro A, **Vieira BM**, Pina-Martins F, Batista D, Tisserant E, Morin E, Petitot AS, Paulo OS, Duplessis S, Silva MC, Fernandez D (2010): [**Transcriptomic analysis of *Hemileia vastatrix* in pre and post-penetration stages.**](http://www.efpp10.uevora.pt) Exhibited at the 9th Conference of the European Foundation for Plant Pathology (EFPP)/6th Congress of the Portuguese Society for Phytopathology (SPF). University of Évora (UE), Évora, Portugal.

  * 2010 - Talhinhas P, Azinheira HG, Loureiro A, Batista D, **Vieira BM**, Pina-Martins F, Tisserant E, Petitot AS, Paulo OS, Duplessis S, Silva MC, Fernandez D (2010): [**Overview of the functional virulent genome of the coffee leaf rust pathogen *Hemileia vastatrix*.**](http://www.asic2010bali.org) Exhibited at the 23rd International Conference on Coffee Science from the Association for Science and Information on Coffee (ASIC). Indonesian Coffee and Cocoa Research Institute (ICCRI), Bali, Indonesia.

  #### Projects ####

  * FCT Project: [SOBREIRO/0036/2009 Cork oak ESTs Consortium - Polymorphism detection and validation](http://www.fct.pt/apoios/projectos/consulta/vglobal_projecto?idProjecto=109256&idElemConcurso=2918)  
    Participation: 25%  
    Institution: Fundação da Faculdade de Ciências (FFC/FC/UL)  
    Research unit: Centro de Biologia Ambiental (CBA/FC/UL)  
    Budget: € 49 480,00

  #### Teaching ####

  * 2012 - **Instructor** of the course [**"Python 101: by biologists for biologists"**](http://cobig2.fc.ul.pt/python101) at FCUL  
  Some material that I gave:
    - [presentation slides](http://bmpvieira.com/py101) made in [markdown](http://daringfireball.net/projects/markdown/) and rendered with [Node.js](http://nodejs.org/), [Deck.js](http://imakewebthings.com/deck.js/), [CodeMirror](http://codemirror.net/) and [Skulpt](http://www.skulpt.org/)  
    - [exercises](http://bmpvieira.com/py101_exs) made with [iPython](http://ipython.org/)  
  * 2010-11-25 - Class lecture about **Next-generation sequencing** for the MSc in 
  Bioinformatics and Computational Biology

.page-break
:markdown
  Webmaster
  ---------

  ### 2010-2011 | [Faculty of Sciences of the University of Lisbon](http://fc.ul.pt) ###

  #### Deployed and maintained ####

  * 2011 - [Cork Oak EST Consortium](http://coec.fc.ul.pt)  
  keywords: [Joomla](http://www.joomla.org)


  * 2010 - [Computational Biology & Population Genomics Group (CoBiG²)](http://cobig2.fc.ul.pt)  
  keywords: [Joomla](http://www.joomla.org)

  #### Helped deploying ####

  * 2011 - [Mestrado em Bioinformática e Biologia Computacional](http://bbc.fc.ul.pt)  
  keywords: [Joomla](http://www.joomla.org)

  * 2010 - [Pós Graduação em Biodiversidade Adaptação e Alterações Globais](http://baag.fc.ul.pt)  
  keywords: [Joomla](http://www.joomla.org)

  Skills
  ------

  * **Programming languages**: JavaScript, Node.js, CoffeeScript, Python (numpy, matplotlib, etc), Java, R and Bash scripting

  * **Web languages**: HTML5, CSS3 and Stylus

  * **Templating engines**: Jade and Dust.js

  * **Databases**:  
    MongoDB (used in production)  
    Neo4J (in [testing](http://neo4j-playground.herokuapp.com/))  
    HDF5 (in testing)  
    SQL (learned in college)

  * **Integrated Development Environments**:  
    Sublime-text 2 (used in production)  
    Vim (in production)  
    Cloud9 (in testing)  
    Eclipse (in college)

  * **Distributed Revision Control**: Git

  * **Document Markup languages**: LaTeX and Markdown

  * **Systems Administration**:  
    GNU/Linux (Ubuntu and Arch, server and desktop)  
    Windows (desktop)  
    ZFS

  * **Content Management Systems**: Joomla, Wordpress and Drupal

  * **Editing skills**:  
    Vectorial images (Inkscape)  
    Pixmaps images (Gimp)  
    Audio and Video

  * **Bioinformatics**:  
    Next-generation sequencing (NGS) data processing and analysis  
    Phylogeography and phylogenetics software

  * **Biology**: DNA Sequencing and Bacterial Culture

  Education
  =========

  Degrees
  -------

  ### 2007-2009 | Master's thesis in Human Biology and Environment

  Vieira, BM  (2009). **Comprehending the Cost of Antibiotics
  Resistance in Bacteria.** Faculty of Sciences of the University of
  Lisbon (FCUL)  
  Grade: 17/20

  ### 2004-2007 | Degree in Cell Biology and Biotechnology

  Faculty of Sciences of the University of Lisbon (FCUL)  
  Grade: 13/20

  Extra Classes
  -------------

  ### 2010 | [Faculty of Sciences of the University of Lisbon](http://fc.ul.pt)
 
  * **Fundamentals of Programming** from the MSc in Bioinformatics and Computational Biology  
  Grade: 16/20

  * **Introduction to Databases** from the MSc in Bioinformatics and Computational Biology  
  Grade: 17/20

  Workshops
  ---------

  * 2012 - [Node.js Workshop](http://2012.lxjs.org/workshops/#/node) by [Mikeal Rogers](http://twitter.com/mikeal) and [Daniel Shaw](http://twitter.com/dshaw) at [Lisbon Javascript](http://2012.lxjs.org/)
  * 2012 - ["Cooking with Backbone and Socket.io 101"](http://2012.lxjs.org/workshops/#/backbone) by [Igor Soarez](http://twitter.com/igorsoarez) and [João Duarte](http://twitter.com/jdduarte) at [Lisbon Javascript](http://2012.lxjs.org/)

  Courses
  -------

  * 2010 - **Practical Course on Phylogenetics**, Centre for Environmental Biology (CBA), Lisbon, Portugal  
  * 2010 - **Practical Course on Phylogeography**, Centre for Environmental Biology (CBA), Lisbon, Portugal

.page-break
:markdown
  Online Courses
  --------------

  * 2013 - [MongoDB University: M101P MongoDB for Developers](https://education.mongodb.com/courses/mongodb/M101P/2013_April/about)  
  Score: 100% (top 6% of the 5,486 enrolled students. Course completion rate is 19%)
  * 2013 - [MongoDB University: M102 MongoDB for DBAs](https://education.mongodb.com/courses/mongodb/M102/2013_April/about)  
  Score: 100% (top 8% of the 6,379 enrolled students. Course completion rate is 21%)
  * 2013 - [MongoDB University: M101JS: MongoDB for Node.js Developers](https://education.mongodb.com/courses/mongodb/M102/2013_April/about)  
  Score: 100% (top 8% of the 7,599 enrolled students. Course completion rate is 20%)

  Conferences attended
  --------------------
  * 2013 - [**LXJS Lisbon Javascript**](http://2013.lxjs.org/)

  * 2013 - [**XIV Congress of the European Society for Evolutionary Biology**](http://eseb2013.com/)

  * 2012 - [**LXJS Lisbon Javascript**](http://2012.lxjs.org/)

  * 2010 - [**VI Encontro Nacional de Biologia Evolutiva**](http://biologia-evolutiva.net). Faculty of Sciences of the University of Lisbon (FCUL), Lisbon, Portugal

  * 2010 - [**Science 2010 - Meeting Science in Portugal**](http://www.ciencia2010.pt). Lisbon Congress Center, Portugal

  * 2009 - [**V Encontro Nacional de Biologia Evolutiva**](http://biologia-evolutiva.net). Instituto Superior de Psicologia Aplicada (ISPA), Lisbon, Portugal

  * 2008 - [**IV Encontro Nacional de Biologia Evolutiva**](http://biologia-evolutiva.net). Instituto de Biologia Molecular e Celular (IBMC), Porto, Portugal

  * 2008 - [**III Congresso da Ordem dos Biólogos: "Bioeconomia"**](http://www.ordembiologos.pt/bioeconomia). Aula Magna, Lisbon, Portugal



  Open Source Contributions
  =========================

  Node.js Modules
  ---------------

  * 2013 - [**xml2json-stream**](https://npmjs.org/package/xml2json-stream)  
  Converts XML to JSON, using Streams and sax. This can be used with above-memory-limits XML files, as long as they're mostly composed of a repetitive tag.

  Software
  --------

  * 2013 - [**CoBiG²**](https://github.com/bmpvieira/cobig2)
  An Angular.js web app that uses many APIs (LinkedIn, Mendeley, Facebook and GitHub) and will become CoBiG²'s new website.

  * 2009 - [**Colony Counter: an ImageJ plugin for automatically enumerating *Escherichia coli* colonies**](http://rsb.info.nih.gov/ij/plugins/colony-counter.html).
    Published in Comprehending the Cost of Antibiotics Resistance in Bacteria.
    Masters thesis in Human Biology and Environment. Faculty of Sciences of the University of Lisbon

.page-break
:markdown
  Arch Linux AUR Packages Maintainer
  ----------------------------------

  * [casperjs-git](https://aur.archlinux.org/packages/casperjs-git/), a browser navigation scripting & testing utility written in Javascript on top of PhantomJS
  * [phantomjs-git](https://aur.archlinux.org/packages/phantomjs-git/), headless WebKit with JavaScript API
  * [genepop](https://aur.archlinux.org/packages/genepop/), a population genetics software.
  * [ima2](https://aur.archlinux.org/packages/ima2/), a program for fitting the isolation with migration model for multiple populations.
  * [populations](https://aur.archlinux.org/packages/populations/), population genetic software (individuals or populations distances, phylogenetic trees)
  * [structure](https://aur.archlinux.org/packages/structure/), program for using multi-locus genotype data to investigate population structure.

  Documentation
  -------------
  * 2012 - [**Python101 Course Slides and Material**](https://github.com/bmpvieira/python101)


  Other activities
  ================

  Design
  ------

  ### Posters ###

  * 2012 - Poster for the course [**"Python 101: by biologists for biologists"**](http://bit.ly/py101poster)

  * 2010 - Poster for the [**"Pós Graduação em Biodiversidade Adaptação e Alterações Globais"**](http://bit.ly/baagposter)

  ### Logos ###

  * 2010 - Logo for the [**Computational Biology & Population Genomics Group (CoBiG²)**](http://cobig2.fc.ul.pt)

  Arts
  ----

  * Piano (4th degree) in Lisbon National Conservatory of Music

  Sports
  ------

  * Kung Fu (Choy Lee Fut) from 2007 to 2008 (6 months) and Karate during childhood