:markdown
  Summary
  =======

  Interested in Machine Learning, Genomics, Open Science and the Web.

  Scientist by education and programmer by profession. Over the years, I've coded mostly in Node.js (JavaScript), Python, R, and Shell scripting to analyse Big Genomic Data.

  Founded and lead Bionode.io, an Open Source community to build scalable code and tools for bioinformatics by leveraging Node.js.

  In 2016, the Mozilla Science Lab awarded me a fellowship (one of four, out of 483 submissions) to travel around the world and champion Open Science through talks, workshops, and hackathons.

  Reproducibility and scalability are important to me, thus I've also become an expert in DevOps tools such as Docker, Singularity, [Nix (reproducible package manager)](https://nixos.org) and cloud computing.

  <!--- Worked for research labs and startups, I enjoy being at the intersection of industry and academia. 
  
  I am a PhD student in Bioinformatics and Population Genomics at the Queen Mary University of London ([WurmLab](http://wurmlab.github.io)) and also a Node.js Web Developer.

  I founded and lead the open source community project [BioNode](http://bionode.io) (modular and universal bioinformatics) and I am a member of the [Dat](http://dat-data.com) team (git for data).

  I am involved in open source and open research and participate/organise workshops and hackathons.

  Previously, I worked for:

  * [Geekli.st](http://geekli.st) on the integration with the LinkedIn API
  * [ESEB2013.com](http://ESEB2013.com) as the sole web developer and built it using Node.js, Express.js, MongoDB, Redis, Jade, Stylus, Bootstrap, etc, to manage the data of 1500 participants. 
  * [CoBiG²](http://cobig2.com) at the Faculty of Sciences of the University of Lisbon as a Bioinformatician, where I analysed Next-Generation Sequencing data, using mostly Python and R. I also had SysAdmin tasks.

  I have a masters in human biology and environment and an undergrad degree in cell biology and biotechnology. --->

.page-break
:markdown

  Experience
  ==========

  CTO
  ---

  ### 2019-Present | [Resurgo Genetics](https://resurgo.com)
  Applying Machine Learning and [novel visualization techniques](http://bit.ly/resurgo1min) to find target candidates for therapeutics in diseases such as cancer and now COVID&#x2011;19.  
  
  Developer
  ---------

  ### 2018 | [Code for Science and Society](https://codeforscience.org)
  Worked on [short term project](http://github.com/stencila/dockter) to integrate [Nix](http://nixos.org) into a Docker image builder for researchers.

  ### 2014-Present | [Bionode.io](http://bionode.io)
  Founded and lead this Open Source Community Project to build scalable and streamable Bioinformatics by leveraging the Node.js ecosystem. Mentored 3 Google Summer of Code students. Organized several workshops and hackathons. Contributed to many modules, but mostly Bionode-NCBI. Prototyped [data analysis workflow engines]().

  ### 2014 | [Dat project](https://dat.foundation) (distributed data technology)
  I helped the Dat team in the context of genomic data.

  ### 2012-2013 | [XIV Congress of the European Society for Evolutionary Biology (ESEB 2013)](http://eseb2013.com) ###
  I was the sole web developer and built everything from the ground up. I am still the current maintainer.

  keywords: [Node.js](http://nodejs.org/), [Express.js](http://expressjs.com/), [Bootstrap](http://twitter.github.com/bootstrap/), [MongoDB](http://www.mongodb.org/), [Redis](http://redis.io/), [CoffeeScript](http://coffeescript.org/), [Jade](http://jade-lang.com/), [Stylus](http://learnboost.github.io/stylus/)

  ### 2013 | [Geeklist](http://geekli.st) ###
  I was a team member, responsible for [LinkedIn integration](http://geekli.st/bmpvieira/i-built-the-geeklist-integration-with-linkedin) and backend tasks.

  keywords: [Node.js](http://nodejs.org/)

:markdown
  ### 2013 | [CoBiG²](http://cobig2.fc.ul.pt) ###
  I built the new website in Angular.js using many APIs (mostly as an experiment and for learning) but I am not the current maintainer.
  [I open sourced the code](http://github.com/bmpvieira/cobig2).

  keywords: [Node.js](http://nodejs.org/), [Angular.js](http://angularjs.org), [Bootstrap](http://twitter.github.com/bootstrap/), [LinkedIn API](http://developer.linkedin.com/apis), [Mendeley API](http://dev.mendeley.com), [Dropbox API](http://dropbox.com/developers), [Facebook API](http://developers.facebook.com), [Github API](http://developer.github.com)

:markdown

  Bioinformatician
  ----------------

  ### 2018 | [Repositive.io](https://repositive.io) (largest directory of preclinical cancer models)
  Worked mostly on reproducible data analysis pipelines with [Nix](https://nixos.org) and Docker. Interacted with AWS, Google Cloud and Kubernetes.

  ### 2014-2018 | [Queen Mary, University of London](http://qmul.ac.uk) ###
  I was a PhD Student under the supervision of [Yannick Wurm](http://yannick.poulet.org/team.html) and did research in population genomics. Specifically, looking at genetic diversity of insects.

  I also contributed to a [Crowdsourcing Web App for Gene Annotation](http://github.com/bmpvieira/afra), built with Ruby, PostgreSQL and Angular.js

  ### 2009-2013 | [Computational Biology & Population Genomics Group (CoBiG²)](http://cobig2.fc.ul.pt) ###
  I've analysed Next-generation sequencing data and also performed sysadmin tasks.

  keywords: [Python](http://python.org)

.page-break
:markdown

  #### Papers ####

  ##### Published #####

  * Vos RA, Katayama T, Mishima H, *et al.* (2020)
  **[BioHackathon 2015: Semantics of data for life sciences and reproducible research](https://dx.doi.org/10.12688/f1000research.18236.1)** *F1000Research*

  * Pina-Martins F, **Vieira BM**, Seabra SG, Batista D, Paulo OS (2016)
  **[4Pipe4–A 454 data analysis pipeline for SNP detection in datasets with no reference sequence or strain information](http://doi.org/10.1186/s12859-016-0892-1)** *BMC Bioinformatics*

  * Yachdav G, Goldberg T, Wilzback S, Dao D, Shih I, Choudhary S, Crouch S, Franz M, **Vieira B**, et al. (2015)
  **[Anatomy of BioJS, an open source community for the life sciences](http://doi.org/10.7554/eLife.07009)** *eLife*

  * Aleksic J, Alexa A, Attwood T, Hong NC, Dahlö M, Förstner K, Smith-Unna R, Schneider V, **Vieira B**, et al. (2014) 
  ** [The Open Science Peer Review Oath](http://doi.org/10.12688/f1000research.5686.1)** *F1000Research*

  * **Vieira B\***,  Sebastiana M\*, Lino-Neto T, Monteiro F, Figueiredo A, Sousa L, Pais MS, Tavares R, Paulo OS (2014):
  **[Oak Root Response to Ectomycorrhizal Symbiosis Establishment: RNA-Seq Derived Transcript Identification and Expression Profiling.](http://doi.org/10.1371/journal.pone.0098376)** *PLOS One*, **9**:5

  * Talhinhas P, Azinheira HG, **Vieira B**, Loureiro A, Tavares S, Batista D, Morin E, Petitot AS, Paulo OS, Poulain J, Silva C, Duplessis S, Silva MC, Fernandez D (2014):
  **[Overview of the functional virulent genome of the coffee leaf rust pathogen *Hemileia vastatrix* with an emphasis on early stages of infection.](http://doi.org/10.3389/fpls.2014.00088)** *Frontiers in Plant Science*, **5**:88

  * Bradnam KR, Fass JN, Alexandrov A, *et al* (2013):
  **[Assemblathon 2: evaluating de novo methods of genome assembly in three vertebrate species.](http://doi.org/10.1186/2047-217X-2-10)** *GigaScience*, **2**:10

  ##### In conference proceedings #####

  * Talhinhas P, Azinheira HG, Loureiro A, Batista D, **Vieira BM**, Pina-Martins F, Tisserant E, Petitot AS, Paulo OS, Duplessis S, Silva MC, Fernandez D (2010): [**Overview of the functional virulent genome of the coffee leaf rust pathogen *Hemileia vastatrix*.**](http://www.asic2010bali.org) In proceedings at the 23rd International Conference on Coffee Science from the Association for Science and Information on Coffee (ASIC). Indonesian Coffee and Cocoa Research Institute (ICCRI), Bali, Indonesia.

  #### Talks ####
  * **Vieira B** (2020): **[My Journey Into Bioinformatics](http://bit.ly/bmpvieira-fcul2020)**. Presented at the Master's degree in Bioinformatics, Faculty of Sciences of the University of Lisbon, Portugal
  * **Vieira B** (2019): **[Automatically create containers using Dockta and Nixta](http://bit.ly/crick19)**. Presented at the [The London Bioinformatics Frontiers Conference 2019](https://lbfrontiers.lifebit.ai), [Francis Crick Institute](https://www.crick.ac.uk), London, UK
  * **Vieira B** (2019): **[My Journey Into Bioinformatics](http://bit.ly/bmpvieira-fcul2019)**. Presented at the Master's degree in Bioinformatics, Faculty of Sciences of the University of Lisbon, Portugal
  * **Vieira B** (2019): **[My Journey Into Bioinformatics](http://bit.ly/barreiro19)**. Presented at the Undergrad in Bioinformatics, Escola Superior de Tecnologia do Barreiro, Portugal
  * **Vieira B** (2018): **[My Journey Into Bioinformatics](http://bit.ly/bmpvieira-fcul2018)**. Presented at the Master's degree in Bioinformatics, Faculty of Sciences of the University of Lisbon, Portugal
  * **Vieira B** (2017): **[Open Science](http://bit.ly/phdday17)**. Presented at the [2nd Biomed PhD Day](https://www.ub.edu/ubtv/en/video/welcome-to-the-2nd-biomed-phd-day-symposium), Barcelona, Spain
  * **Vieira B** (2017): **[A truly reproducible paper?](http://bit.ly/re-paper-nix)**. Presented at the [Springer Nature: Better Science through Better Data 2017](https://researchdata.springernature.com/posts/21378-better-science-through-better-data-2017-scidata17), Wellcome Collection, London, UK
  * **Vieira B**, Wurm Y (2016): **[Bionode - Modular and universal bioinformatics](http://www.slideshare.net/KingWaiLau/bionodeio)**. Presented at the [Bioinformatics London meetup](http://www.meetup.com/Bioinformatics-London/), Imperial College, London, England.
  * **Vieira B**, Nichols R, Wurm Y (2015): **The effect of social evolution on the effective population size:**. Presented at the 49th Population Genetics Group (PopGroup) meeting, Edinburgh, Scotland
  * **Vieira B**, Wurm Y (2015): **[An introduction to bionode - bioinformatics pipelines in Javascript](http://www.meetup.com/biocoders/events/225520856/)**. Presented at the BioCoders meetup, Cambridge, England.
  * **Vieira B**, Wurm Y (2015): **[Bionode - Modular and universal bioinformatics](https://www.youtube.com/watch?v=9MoI1IFRdvc)**. Presented at the DBCLS BioHackathon 2015, Nagasaki University, Japan.
  * **Vieira B**, Wurm Y (2015): **[Bionode - Modular and universal bioinformatics](https://www.youtube.com/watch?v=_CNlpNxkP-k)**. Presented at the Bioinformatics Open Source Conference (BOSC). University of Dublin, Ireland.
  * **Vieira B**, Wurm Y (2014): **[Bionode](https://bmpvieira.com/cw15)**.Presented at the Collaborations Workshop, Software Sustainability Institute, Oxford, England.
  * **Vieira B**, Nichols R, Wurm Y (2015): **[Effective population size in insects](http://bmpvieira.github.io/pgg48)**. Presented at the 48th Population Genetics Group (PopGroup) meeting, University of Sheffield, England
  * **Vieira B**, Wurm Y (2014 Dec): **Effective population size and sociality**. Presented at the [X Encontro Nacional de Biologia Evolutiva](http://www.apbe.pt/enbe2014), National Museum of Natural History and Science, Lisbon, Portugal
  * **Vieira B**, Wurm Y (2014 Dec): **[Building collaborative workflows for scientific data ](https://www.youtube.com/watch?v=aT9gHkWGcRI)**. Presented at the [Open Research Cambridge meetup](https://twitter.com/openrescam), England.
  * **Vieira B**, Ogden M, Wurm Y (2014): **[Bionode and Dat](https://www.youtube.com/watch?v=Ef17lkx7s0U)**. Presented at the Wellcome Trust Sanger Institute, Cambridge, England.
  * **Vieira B** (2014 Mar 25): **[Pairwise Sequentially Markovian Coalescent Model](http://bmpvieira.com/labjolly14a)**. Presented at the Evolution Lab Jolly, SBCS, Queen Mary, University of London, London, England.
  * **Vieira B** (2014): **[Docker for reproducible science](http://doi.org/10.6084/m9.figshare.1000809)**. Presented at the Collaborations Workshop 2014, Software Sustainability Institute, University of Oxford, Oxford, England.
  * **Vieira B** (2014): **[Crowdsourcing Genome Annotation](http://doi.org/10.6084/m9.figshare.1000810)**. Presented at the Citizen Cyberscience Summit 2014, University College London (UCL), London, England.
  * Pina-Martins F, **Vieira BM**, Seabra SG, Batista D, Paulo OS (2013): [**Making the best of your 454 dataset using the 4Pipe4 analysis pipeline – from an unknown genome to a detailed SNPs analysis: A case study with a Quercus suber dataset.**](http://eseb2013.com/delegates/fpina-martins#981) Presented at the XIV Congress of the European Society for Evolutionary Biology (ESEB 2013). Faculty of Sciences of the University of Lisbon (FCUL), Lisbon, Portugal.
  * **Vieira BM**, Pina-Martins F, Seabra SG, Paulo OS (2010):
  [**Analysis of software for the NGS technology: The Survival
  Guide.**](http://www.euro2010lisbon.org) Presented at the 24th European Conference on Operational Research. Faculty of Sciences of the University of Lisbon (FCUL), Lisbon, Portugal.

  #### Posters ####
  * 2013 - Pina-Martins F, **Vieira BM**, Seabra SG, Batista D, Paulo OS (2013): [**The 4Pipe4 analysis pipeline – how to exploit the hidden SNPs in your 454 dataset: a testcase with a quercus suber dataset.**](http://fisiologiavegetal2013.itqb.unl.pt/images/docs/FV2013_Book_of_Abstracts.pdf) Exhibited at the "XIII Congresso Luso-Espanhol de Fisiologia Vegetal". Faculty of Sciences of the University of Lisbon, Lisbon, Portugal.

  * 2013 - Talhinhas P, Azinheira HG, **Vieira BM**, Loureiro A, Tavares S, Batista D, Morin E, Petitot AS, Paulo OS, Poulain J, Silva C, Duplessis S, Silva MC, Fernandez D (2013): [**Overview of the functional virulent genome of the coffee leaf rust pathogen, *Hemileia vastatrix*.**](http://fisiologiavegetal2013.itqb.unl.pt/images/docs/FV2013_Book_of_Abstracts.pdf) Exhibited at the "XIII Congresso Luso-Espanhol de Fisiologia Vegetal". Faculty of Sciences of the University of Lisbon, Lisbon, Portugal.

  * 2010 - Talhinhas P, Azinheira HG, Vieira A, Loureiro A, **Vieira BM**, Pina-Martins F, Batista D, Tisserant E, Morin E, Petitot AS, Paulo OS, Duplessis S, Silva MC, Fernandez D (2010): [**Transcriptomic analysis of *Hemileia vastatrix* in pre and post-penetration stages.**](http://www.efpp10.uevora.pt) Exhibited at the 9th Conference of the European Foundation for Plant Pathology (EFPP)/6th Congress of the Portuguese Society for Phytopathology (SPF). University of Évora (UE), Évora, Portugal.

  * 2010 - Talhinhas P, Azinheira HG, Loureiro A, Batista D, **Vieira BM**, Pina-Martins F, Tisserant E, Petitot AS, Paulo OS, Duplessis S, Silva MC, Fernandez D (2010): [**Overview of the functional virulent genome of the coffee leaf rust pathogen *Hemileia vastatrix*.**](http://www.asic2010bali.org) Exhibited at the 23rd International Conference on Coffee Science from the Association for Science and Information on Coffee (ASIC). Indonesian Coffee and Cocoa Research Institute (ICCRI), Bali, Indonesia.

  #### Projects ####
  * 2013-Present - [Bionode.io - Modular and universal bioinformatics](http://bionode.io)
  * 2016 - [Google Summer of Code mentoring](https://summerofcode.withgoogle.com/projects/#6585953724399616) of [Julian Mazzitelli](https://github.com/thejmazz) to build a ["Bionode workflow engine for streamed data analysis"](https://github.com/bionode/bionode-waterwheel)
  * 2013-2014 - [Afra - crowdsourcing gene feature annotation](https://github.com/wurmlab/afra) funded by BBSRC
  * FCT Project: [SOBREIRO/0036/2009 Cork oak ESTs Consortium - Polymorphism detection and validation](http://www.fct.pt/apoios/projectos/consulta/vglobal_projecto?idProjecto=109256&idElemConcurso=2918)
    Participation: 25%
    Institution: Fundação da Faculdade de Ciências (FFC/FC/UL)
    Budget: € 49 480,00

.page-break
:markdown
  #### Teaching ####
  * 2013-Present - **Demonstrator** for master of bioinformatics and R practicals at Queen Mary University of London
  * 2010 (Nov 25) - Class lecture about **Next-generation sequencing** for the MSc in Bioinformatics and Computational Biology

:markdown
  Webmaster
  ---------

  ### 2010-2011 | [Faculty of Sciences of the University of Lisbon](http://fc.ul.pt) ###

  #### Deployed and maintained ####

  * 2011 - [Cork Oak EST Consortium](http://coec.fc.ul.pt)
  keywords: [Joomla](http://www.joomla.org)


  * 2010 - [Computational Biology & Population Genomics Group (CoBiG²)](http://cobig2.fc.ul.pt)
  keywords: [Joomla](http://www.joomla.org)

  #### Helped deploying ####

  * 2011 - [Mestrado em Bioinformática e Biologia Computacional](http://bbc.fc.ul.pt)
  keywords: [Joomla](http://www.joomla.org)

  * 2010 - [Pós Graduação em Biodiversidade Adaptação e Alterações Globais](http://baag.fc.ul.pt)
  keywords: [Joomla](http://www.joomla.org)

  Skills
  ------

  * **Programming languages**: JavaScript, Node.js, Python (pandas, numpy, pytorch, dask, holoviews, datashader, matplotlib, etc), R, and Shell scripting

  <!-- * **Web languages**: HTML5, CSS3 and Stylus -->

  <!-- * **Templating engines**: Jade and Dust.js -->

  * **Databases**:
    MongoDB (used in production), SQL (learned during undergrad)  
    <!-- Neo4J (in [testing](http://neo4j-playground.herokuapp.com/)) -->
    <!-- HDF5 (in testing) -->

  <!-- * **Integrated Development Environments**:
    Sublime-text 2 (used in production)
    Vim (in production)
    Cloud9 (in testing)
    Eclipse (in college) -->

  * **Distributed Revision Control**: Git, GitHub, GitLab

  * **Document Markup languages**: LaTeX and Markdown

  * **Systems Administration**:
    Docker,
    NixOS,
    Vagrant,
    GNU/Linux (Ubuntu and Arch, server and desktop),
    Windows (desktop),
    ZFS

  <!-- * **Content Management Systems**: Joomla, Wordpress and Drupal  -->

  * **Bioinformatics**:
    Next-generation sequencing (NGS) data processing and analysis,
    Phylogeography and phylogenetics software

  * **Biology**: DNA Sequencing and Bacterial Culture

  * **Editing skills**:
  Vectorial images (Inkscape),
  Pixmaps images (Gimp),
  Audio and Video

.page-break
:markdown

  Education and Teaching
  =========

  Degrees
  -------

  ### 2014-2018 | PhD thesis in Bioinformatics and Population Genomics

  I researched the effects of eusociality on the Efective Population size (Ne) of multiple species.

  ### 2007-2009 | Master's thesis in Human Biology and Environment

  Vieira, BM  (2009). **Comprehending the Cost of Antibiotics
  Resistance in Bacteria.** Faculty of Sciences of the University of
  Lisbon (FCUL)
  Grade: 17/20

  ### 2004-2007 | Degree in Cell Biology and Biotechnology

  Faculty of Sciences of the University of Lisbon (FCUL)
  Grade: 13/20

  Extra Classes
  -------------

  ### 2010 | [Faculty of Sciences of the University of Lisbon](http://fc.ul.pt)

  * **Fundamentals of Programming** from the MSc in Bioinformatics and Computational Biology
  Grade: 16/20

  * **Introduction to Databases** from the MSc in Bioinformatics and Computational Biology
  Grade: 17/20

  Workshops organised
  -------------------

  * 2015 - [Bionode - Modular and universal bioinformatics](https://github.com/mozilla/mozfest-program/issues/341) at [Mozfest](http://2014.mozillafestival.org), London, England
  * 2014 - [Dat Workshop: Dive into dat for dataset push, pull and clone](http://ryanpitts.com/projects/mozfest-2014/#_session-29) at [Mozfest](http://2014.mozillafestival.org), London, England

  Workshops attended
  ------------------
  * 2015 - [**Collaborations Workshop 2015**](http://www.software.ac.uk/cw14). Software Sustainability Institute, University of Oxford, Oxford, England
  * 2014 (Mar 26-28) - [**Collaborations Workshop 2014**](http://www.software.ac.uk/cw14). Software Sustainability Institute, University of Oxford, Oxford, England
  * 2012 - [Node.js Workshop](http://2012.lxjs.org/workshops/#/node) by [Mikeal Rogers](http://twitter.com/mikeal) and [Daniel Shaw](http://twitter.com/dshaw) at [Lisbon Javascript](http://2012.lxjs.org/)
  * 2012 - ["Cooking with Backbone and Socket.io 101"](http://2012.lxjs.org/workshops/#/backbone) by [Igor Soarez](http://twitter.com/igorsoarez) and [João Duarte](http://twitter.com/jdduarte) at [Lisbon Javascript](http://2012.lxjs.org/)

  Courses organised
  -----------------
  * 2012 - [**"Python 101: by biologists for biologists"**](http://cobig2.fc.ul.pt/python101) at [Faculty of Science of the University of Lisbon (FCUL)](https://ciencias.ulisboa.pt)
  Some material that I gave:
    - [presentation slides](http://bmpvieira.com/py101) made in [markdown](http://daringfireball.net/projects/markdown/) and rendered with [Node.js](http://nodejs.org/), [Deck.js](http://imakewebthings.com/deck.js/), [CodeMirror](http://codemirror.net/) and [Skulpt](http://www.skulpt.org/)
    - [exercises](http://bmpvieira.com/py101_exs) made with [iPython](http://ipython.org/)

  Courses attended
  ----------------

  * 2010 - **Practical Course on Phylogenetics**, Centre for Environmental Biology (CBA), Lisbon, Portugal
  * 2010 - **Practical Course on Phylogeography**, Centre for Environmental Biology (CBA), Lisbon, Portugal
  
:markdown
  Online courses attended
  -----------------------

  * 2013 - [MongoDB University: M101P MongoDB for Developers](https://education.mongodb.com/courses/mongodb/M101P/2013_April/about)
  Score: 100% (top 6% of the 5,486 enrolled students. Course completion rate is 19%)
  * 2013 - [MongoDB University: M102 MongoDB for DBAs](https://education.mongodb.com/courses/mongodb/M102/2013_April/about)
  Score: 100% (top 8% of the 6,379 enrolled students. Course completion rate is 21%)
  * 2013 - [MongoDB University: M101JS: MongoDB for Node.js Developers](https://education.mongodb.com/courses/mongodb/M102/2013_April/about)
  Score: 100% (top 8% of the 7,599 enrolled students. Course completion rate is 20%)

  Conferences attended
  --------------------
  * 2015 (Dec 15-18) - [**The 49th UK Population Genetics Group**](http://evoldir.tumblr.com/post/130045885181/conference-popgroup49-edinburgh-registration), Edinburgh, Scotland

  * 2015 - [**Mozilla Festival**](http://mozillafestival.org). Ravensbourne, London, England

  * 2015 (Aug 10-14) - [**European Society for Evolutionary Biology (ESEB)**](https://wp.unil.ch/eseb2015). The Department of Ecology and Evolution of the University of Lausanne, Switzerland

  * 2015 (Jul 13-14) - **23rd annual international conference on Intelligent Systems for Molecular Biology (ISMB) and the 14th European Conference on Computational Biology (ECCB)**. International Society for Computational Biology (ISCB), University of Dublin, Ireland

  * 2015 (Jul 10-11)- **Bioinformatics Open Source Conference (BOSC)**. University of Dublin, Ireland

  * 2014 - [**Mozilla Festival**](http://mozillafestival.org). Ravensbourne, London, England

  * 2014 (May 20) - **Neural circuits underpinning insect cognition**. Fogg Lecture Theatre, Fogg Building, Queen Mary University of London, London, England

  * 2014 (May 2) - [**Genomics of gene expression and ageing. EuroBATS Consortium at the Royal College of Physicians**](http://www.eventbrite.co.uk/o/eurobats-consortium-at-the-royal-college-of-physicians-6235079159)

  * 2014 (Feb 20-22) - [**3rd Citizen Cyberscience Summit**](http://cybersciencesummit.org). Royal Geographical Society and University College London, London, England

  * 2014 - [**London JS Conf**](http://www.londonjsconf.com). Prince Charles Cinema, London, England

  * 2013 (Nov 27) - **Beatles and Bioinformatics**. Center for Genomic Research at the University of Liverpool

  * 2013 - [**Mozilla Festival**](http://mozillafestival.org). Ravensbourne, London, England

  * 2013 - [**LXJS Lisbon Javascript**](http://2013.lxjs.org/). São Jorge Cinema, Lisbon, Portugal

  * 2013 - [**XIV Congress of the European Society for Evolutionary Biology**](http://eseb2013.com/). Faculty of Sciences of the University of Lisbon (FCUL), Lisbon, Portugal

  * 2012 - [**LXJS Lisbon Javascript**](http://2012.lxjs.org/). Ribeira Market, Lisbon, Portugal

  * 2010 - [**VI Encontro Nacional de Biologia Evolutiva**](http://biologia-evolutiva.net). Faculty of Sciences of the University of Lisbon (FCUL), Lisbon, Portugal

  * 2010 - [**Science 2010 - Meeting Science in Portugal**](http://www.ciencia2010.pt). Lisbon Congress Center, Portugal

  * 2009 - [**V Encontro Nacional de Biologia Evolutiva**](http://biologia-evolutiva.net). Instituto Superior de Psicologia Aplicada (ISPA), Lisbon, Portugal

  * 2008 - [**IV Encontro Nacional de Biologia Evolutiva**](http://biologia-evolutiva.net). Instituto de Biologia Molecular e Celular (IBMC), Porto, Portugal

  * 2008 - [**III Congresso da Ordem dos Biólogos: "Bioeconomia"**](http://www.ordembiologos.pt/bioeconomia). Aula Magna, Lisbon, Portugal

  Hackathons organised
  --------------------
  * 2016 (Jul 9) - [Bionode and DNAdigest Hackday - Crawling genomic datasets with node.js](http://blog.repositive.io/bionode_hackday_overview), sponsored by [repositive.io](https://repositive.io). Google Campus London, England

  Hackathons attended
  -------------------
  * 2015 (Sep 13-19) - [BioHackathon 2015](http://2015.biohackathon.org), Nagasaki University, Japan
  * 2015 (Jul 8) - OpenBio Codefest 2015. The Open Bioinformatics Foundation (O|B|F), University of Dublin, Ireland
  * 2014 (Apr 5) - Prototyping a Data Discovery tool. DNAdigest Hack Day, London, England

:markdown
  Open Source Contributions
  =========================

  Node.js Modules
  ---------------
  * 2014-Present - [**bionode**](http://bionode.io)
  A Node.js JavaScript library for client and server side bioinformatics.

  * 2013 - [**xml2json-stream**](https://npmjs.org/package/xml2json-stream)
  Converts XML to JSON, using Streams and sax. This can be used with above-memory-limits XML files, as long as they're mostly composed of a repetitive tag.

  Software
  --------
  * 2013-2014 - [**Afra**](https://github.com/bmpvieira/afra/) - A web application for crowdsourcing genome annotation.

  * 2013 - [**CoBiG²**](https://github.com/bmpvieira/cobig2) - An Angular.js web app that uses many APIs (LinkedIn, Mendeley, Facebook and GitHub) and will become CoBiG²'s new website.

  * 2009 - [**Colony Counter**](http://rsb.info.nih.gov/ij/plugins/colony-counter.html) - An ImageJ plugin for automatically enumerating *Escherichia coli* colonies.
    Published in Comprehending the Cost of Antibiotics Resistance in Bacteria.
    Masters thesis in Human Biology and Environment. Faculty of Sciences of the University of Lisbon

:markdown
  Arch Linux AUR Packages Maintainer
  ----------------------------------

  * [casperjs-git](https://aur.archlinux.org/packages/casperjs-git/), a browser navigation scripting & testing utility written in Javascript on top of PhantomJS
  * [phantomjs-git](https://aur.archlinux.org/packages/phantomjs-git/), headless WebKit with JavaScript API
  * [genepop](https://aur.archlinux.org/packages/genepop/), a population genetics software.
  * [ima2](https://aur.archlinux.org/packages/ima2/), a program for fitting the isolation with migration model for multiple populations.
  * [populations](https://aur.archlinux.org/packages/populations/), population genetic software (individuals or populations distances, phylogenetic trees)
  * [structure](https://aur.archlinux.org/packages/structure/), program for using multi-locus genotype data to investigate population structure.

  Documentation
  -------------
  * 2012 - [**Python101 Course Slides and Material**](https://github.com/bmpvieira/python101)

:markdown
  Other activities
  ================

  Design
  ------

  ### Posters ###

  * 2012 - Poster for the course [**"Python 101: by biologists for biologists"**](https://photos.app.goo.gl/9RwKFe6CzrnE9Pyr8)

  * 2010 - Poster for the [**"Pós Graduação em Biodiversidade Adaptação e Alterações Globais"**](https://photos.app.goo.gl/7Xn4dUcqFmUyPjH59)

  ### Logos ###
  * 2014 - Logo for the [**bionode**](http://bionode.io) Node.js module made with [Adobe Illustrator](http://adobe.com/products/illustrator).
  * 2010 - Logo for the [**Computational Biology & Population Genomics Group (CoBiG²)**](http://cobig2.fc.ul.pt) made with [Blender](http://blender.org) and [Gimp](http://gimp.org).

  Music
  -----

  * Piano (4th degree) at the [Lisbon National Conservatory of Music](http://www.emcn.edu.pt)

  Sports
  ------

  * Kung Fu (Choy Lee Fut) from 2007 to 2008 (6 months) and Karate during childhood
