.span3
  aside
    img.img-polaroid(alt='Bruno Vieira', src='/img/bmpvieira.jpg', title='Bruno Vieira')
    .sidebar-personal-info
      :markdown
        ###Personal information
        **Name:** Bruno Miguel Vieira  
        **Birthday:** January 5, 1986  
        **Address (work):** Faculdade de Ciências da Universidade de Lisboa, Centre for Environmental Biology (CBA), Edifício C2, 1749-016 Campo Grande, Lisboa, Portugal  
        **Phone (work):** (+351) 217 500 000 ext: 22363  
        **E-mail:** [mail@bmpvieira.com](mailto:mail@bmpvieira.com)  
        **Languages:** Portuguese, English and French  
        **Online username:** bmpvieira
    br
    .sidebar-social
      a.social(href='https://twitter.com/bmpvieira')
        i.icon-twitter.inset-text &nbsp;
      a.social(href='http://github.com/bmpvieira')
        i.icon-github.inset-text &nbsp;
      a.social(href='http://pt.linkedin.com/in/bmpvieira')
        i.icon-linkedin.inset-text &nbsp;