.span12
  aside
    img.img-polaroid(alt='Bruno Vieira', src='/img/bmpvieira.jpg', title='Bruno Vieira')
    .sidebar-personal-info
      :markdown
        ### Information
        **Name:** Bruno Miguel Pereira Vieira  
        **Birthday:** January 5, 1986  
        **Address (work):**  
        Queen Mary University of London,  
        Room 5.03F Fogg Building,  
        Organismal Biology Division,  
        School of Biological and Chemical Sciences,  
        Mile End Road,  
        E1 4NS London,  
        United Kingdom  
        **E-mail:** [mail@bmpvieira.com](mailto:mail@bmpvieira.com)  
        **Languages:** Portuguese, English and French  
        **Nationality:** Portuguese  
        **Username (Skype, etc.):** bmpvieira
    br
    .sidebar-social
      a.social(href='https://twitter.com/bmpvieira')
        i.icon-twitter.inset-text &nbsp;
      a.social(href='http://github.com/bmpvieira')
        i.icon-github.inset-text &nbsp;
      a.social(href='http://linkedin.com/in/bmpvieira')
        i.icon-linkedin.inset-text &nbsp;
