.span12
  aside
    img.img-polaroid(alt='Bruno Vieira', src='/img/bmpvieira.jpg', title='Bruno Vieira')
    .sidebar-personal-info
      :markdown
        ### Information
        **Name:** Bruno Miguel Pereira Vieira  
        **Birthday:** January 5, 1986  
        **E-mail:** [mail@bmpvieira.com](mailto:mail@bmpvieira.com)  
        **Languages:** Portuguese, English and French  
        **Nationality:** Portuguese  
        **Username (Skype, etc.):** bmpvieira
    br
    .sidebar-social
      a.social(href='https://twitter.com/bmpvieira')
        i.icon-twitter.inset-text &nbsp;
      a.social(href='http://github.com/bmpvieira')
        i.icon-github.inset-text &nbsp;
      a.social(href='http://linkedin.com/in/bmpvieira')
        i.icon-linkedin.inset-text &nbsp;
