extends layout
block content
  .page-header
    h1 Curriculum vitae

  article
    //- remove when makeRow() fluid supported
    .row-fluid
      .span9
        section.main
          .subnav
            ul.nav.nav-pills
              li
                a(href='#education') Education
              li
                a(href='#personal-skills-and-competences') Personal skills and competences
              li
                a(href='#current-work') Current work
              li
                a(href='#previous-work') Previous work
          
          h1#education Education
          :markdown
            ## Degrees
            ### Master's thesis in Human Biology and Environment
            Vieira, BM  (2009). **Comprehending the Cost of Antibiotics
            Resistance in Bacteria.** Faculty of Sciences of the University of
            Lisbon (FCUL)  
            Grade: 17/20

            ### Degree in Cell Biology and Biotechnology
            2004-2007 - Faculty of Sciences of the University of Lisbon (FCUL)  
            Grade: 13/20

            ## Extra classes
            2010 - **Fundamentals of Programming** from the MSc in Bioinformatics and 
            Computational Biology at FCUL  
            Grade: 16/20

            2010 - **Introduction to Databases** from the MSc in Bioinformatics and 
            Computational Biology at FCUL  
            Grade: 17/20

            ## Courses taken
            2010 - **Practical Course on Phylogenetics**, Centre for Environmental Biology (CBA), Lisbon, Portugal  
            2010 - **Practical Course on Phylogeography**, Centre for Environmental Biology (CBA), Lisbon, Portugal

          .page-break
          :markdown

            ## Conferences attended
            **VI Encontro Nacional de Biologia Evolutiva** (2010). Faculty
            of Sciences of the University of Lisbon (FCUL), Lisbon, Portugal  
            URL: [http://biologia-evolutiva.net](http://biologia-evolutiva.net) [accessed on 2012-03-30]

            **Science 2010 - Meeting Science in Portugal** (2010). Lisbon Congress Center, Portugal  
            URL: [http://www.ciencia2010.pt](http://www.ciencia2010.pt) [accessed on 2012-03-30]

            **V Encontro Nacional de Biologia Evolutiva** (2009). Instituto Superior
            de Psicologia Aplicada (ISPA), Lisbon, Portugal  
            URL: [http://biologia-evolutiva.net](http://biologia-evolutiva.net) [accessed on 2012-03-30]

            **IV Encontro Nacional de Biologia Evolutiva** (2008).
            Instituto de Biologia Molecular e Celular (IBMC), Porto, Portugal  
            URL: [http://biologia-evolutiva.net](http://biologia-evolutiva.net) [accessed on 2012-03-30]

            **III Congresso da Ordem dos Biólogos: “Bioeconomia”** (2008). Aula Magna, Lisbon, Portugal  
            URL: [http://www.ordembiologos.pt/bioeconomia](http://www.ordembiologos.pt/bioeconomia) [accessed on 2008-02-27]

          h1#personal-skills-and-competences Personal skills and competences  
          :markdown

            ## Languages
            Native: Portuguese  
            Others: English and French

            ## Informatics skills
            ### Bioinformatics
            Next-generation sequencing (NGS) data processing and analysis  
            Phylogeography and phylogenetics software

          .page-break
          :markdown

            ### Programming languages
            Python (numpy, matplotlib, etc), Java, R and bash scripting
            
            ### Web development languages
            HTML5, CSS3 and Javascript

            ### Databases
            SQL and HDF5  
            Currently interested in NoSQL like Neo4j, mongoDB, Cassandra, etc.

            ###Integrated Development Environments
            Eclipse and Vim

            ### Distributed Revision Control
            Git

            ### Typography
            LaTeX and Markdown

            ### Operating Systems Administration
            GNU/Linux (server and desktop)  
            Windows (desktop)  
            Android

            ### Content Management Systems
            Joomla, Wordpress, Drupal, Mediawiki, phpBB

            ### Static Blog Generators
            Hyde

            ### Editing skills
            Vectorial images (Inkscape)  
            Pixmaps images (Gimp)  
            Audio and Video

          h1#current-work Current work
          .page-break
          :markdown

            ## Papers
            ### Submitted
            Pina-Martins, F, **Vieira, BM**, Seabra, SG, Batista, D, Paulo, OS.
            **4Pipe4 – A 454 data analysis pipeline specialized for SNP detection.**

            ### Manuscript in preparation
            Talhinhas, P, et al. **Transcriptomic analysis of *Hemileia vastatrix* in pre and
            post-penetration stages.**

            ## Bioinformatics
            Analysis of **Next-generation sequencing** data at the Computational 
            Biology and Population Genomics Group (CoBiG²) and servers administration/update

            Participation with other 20 teams/institutes in the NGS data assembly competition: 
            **Assemblathon**  
            URL: [http://assemblathon.org](http://assemblathon.org) [accessed on 2012-03-30]

            ## Teaching
            Instructor of the forthcoming course **"Python 101: by biologists for 
            biologists"** at the Faculty of Sciences of the
            University of Lisbon (FCUL)  
            URL: [http://cobig2.fc.ul.pt/python101](http://cobig2.fc.ul.pt/python101) [accessed on 2012-03-30]

            ## Promotional work
            Responsible for the website and informatics of the forthcoming **European Society 
            for Evolutionary Biology (ESEB 2012)**

          h1#previous-work Previous work
          .page-break
          :markdown

            ## Projects
            FCT Project: SOBREIRO/0036/2009 Polymorphism detection and validation (25 % participation)

            ## Teaching
            2010-11-25 - Class lecture about **Next-generation sequencing** for the MSc in 
            Bioinformatics and Computational Biology

            ## Papers in conference proceedings
            Talhinhas, P, Azinheira, HG, Loureiro, A, Batista, D, **Vieira, BM**,
            Pina-Martins, F, Tisserant, E, Petitot, AS, Paulo, OS, Duplessis, S,
            Silva, MC, and Fernandez, D (2010). **Overview of the
            functional virulent genome of the coffee leaf rust pathogen *Hemileia
            vastatrix*.** In proceedings at the 23rd
            International Conference on Coffee Science from the Association for
            Science and Information on Coffee (ASIC). Indonesian Coffee
            and Cocoa Research Institute (ICCRI), Bali, Indonesia.  
            URL: [http://www.asic2010bali.org](http://www.asic2010bali.org) [accessed on 2010-12-27]

            ## Talks
            **Vieira, BM**, Pina-Martins, F, Seabra, SG, and Paulo, OS (2010).
            **Analysis of software for the NGS technology: The Survival
            Guide.** Presented at the 24th European Conference on 
            Operational Research. Faculty of Sciences of 
            the University of Lisbon (FCUL), Lisbon, Portugal.  
            URL: [http://www.euro2010lisbon.org](http://www.euro2010lisbon.org) [accessed on 2012-03-30]

            ## Posters
            Talhinhas, P, Azinheira, HG, Vieira, A, Loureiro, A, **Vieira, BM**,
            Pina-Martins, F, Batista, D, Tisserant, E, Morin, E, Petitot, AS,
            Paulo, OS, Duplessis, S, Silva, MC, and Fernandez, D (2010).
            **Transcriptomic analysis of *Hemileia vastatrix* in pre and
            post-penetration stages.** Exhibited at
            the 9th Conference of the European Foundation for Plant Pathology
            (EFPP)/6th Congress of the Portuguese Society for Phytopathology
            (SPF). University of Évora (UE), Évora, Portugal.  
            URL: [http://www.efpp10.uevora.pt](http://www.efpp10.uevora.pt) [accessed on 2012-03-30]

            Talhinhas, P, Azinheira, HG, Loureiro, A, Batista, D, **Vieira, BM**,
            Pina-Martins, F, Tisserant, E, Petitot, AS, Paulo, OS, Duplessis, S,
            Silva, MC, and Fernandez, D (2010). **Overview of the
            functional virulent genome of the coffee leaf rust pathogen *Hemileia
            vastatrix*.** Exhibited at the 23rd
            International Conference on Coffee Science from the Association for
            Science and Information on Coffee (ASIC). Indonesian Coffee
            and Cocoa Research Institute (ICCRI), Bali, Indonesia.  
            URL: [http://www.asic2010bali.org](http://www.asic2010bali.org) [accessed on 2010-12-27]

            ## Software development
            Vieira, BM (2009). **Colony Counter: an ImageJ plugin for automatically 
            enumerating *Escherichia coli* colonies**.
            Published in Comprehending the Cost of Antibiotics Resistance in Bacteria.
            Masters thesis in Human Biology and Environment. Faculty of Sciences of the University of Lisbon  
            URL: [http://rsb.info.nih.gov/ij/plugins/colony-counter.html](http://rsb.info.nih.gov/ij/plugins/colony-counter.html)
            [accessed on 2012-03-30]

            ## Websites development
            ### Currently maintained by myself
            Cork Oak EST Consortium  
            URL: [http://coec.fc.ul.pt](http://coec.fc.ul.pt) [accessed on 2012-03-30]  
            [powered by: [Joomla](http://www.joomla.org), [CMS](http://en.wikipedia.org/wiki/Content_management_system)]  

            Computational Biology & Population Genomics Group  
            URL: [http://cobig2.fc.ul.pt](http://cobig2.fc.ul.pt) [accessed on 2012-03-30]  
            [powered by: [Joomla](http://www.joomla.org), [CMS](http://en.wikipedia.org/wiki/Content_management_system)]  

            ####Personal website/blog/CV  
            URL: [http://bmpvieira.com](http://bmpvieira.com) [accessed on 2012-03-30]  
            [powered by: [hyde](http://hyde.github.com), [bootstrap](http://twitter.github.com/bootstrap)]

            ### Currently maintained by someone else
            Pós Graduação em Biodiversidade Adaptação e Alterações Globais  
            URL: [http://baag.fc.ul.pt](http://baag.fc.ul.pt) [accessed on 2012-03-30]  
            [powered by: [Joomla](http://www.joomla.org), [CMS](http://en.wikipedia.org/wiki/Content_management_system)]

            Mestrado em Bioinformática e Biologia Computacional  
            URL: [http://bbc.fc.ul.pt](http://bbc.fc.ul.pt) [accessed on 2012-03-30]  
            [powered by: [Joomla](http://www.joomla.org), [CMS](http://en.wikipedia.org/wiki/Content_management_system)]

            ## Promotional work
            2012 - Poster for the course **“Python 101: by biologists 
            for biologists”**  
            URL: [http://bit.ly/py101poster](http://bit.ly/py101poster)
            [accessed on 2012-03-30]

            2010 - Poster for the **“Pós Graduação em Biodiversidade Adaptação e 
            Alterações Globais”**  
            URL: [http://bit.ly/baagposter](http://bit.ly/baagposter).
            [accessed on 2012-03-30]

            2010 - Logo for the **Computational Biology &amp;
            Population Genomics Group (CoBiG²)**  
            URL: [http://cobig2.fc.ul.pt](http://cobig2.fc.ul.pt) [accessed on 2012-03-30]

            ## Community
            Arch Linux software maintainer of 5 bioinformatic packages  
            URL: [http://aur.archlinux.org/packages.php?SeB=m%5C&K=bmpvieira](http://aur.archlinux.org/packages.php?SeB=m%5C&K=bmpvieira)
            [accessed on 2012-03-30]

            # Other skills and competences
            ## Arts
            Piano (4th degree) in Lisbon National Conservatory of Music
            
            ## Sports
            Kung Fu (Choy Lee Fut) from 2007 to 2008 (6 months) and Karate during childhood

      include partials/info
