extends layout
block content
  .page-header
    h1 Curriculum vitae

  article
    //- remove when makeRow() fluid supported
    .row-fluid
      .span9
        section.main
          .subnav(data-spy="affix", data-offset-top="150")
            ul#menu.nav.nav-pills

          include partials/cv_markdown
      include partials/info

append js
  script
    $(document).ready(function() {

      var current_h1_id

      $('h1').each(function(i, e) {
        var id = $(e).text().replace(/[\s\.]/g, '-').toLowerCase()

        if (i !== 0) {

          $(e).attr('id', id);

          $('ul#menu').append(
            ['<li class="dropdown"><a class=dropdown-toggle data-toggle="dropdown" href="#">'
            , $(e).text()
            , '<b class="caret"></b></a><ul class="dropdown-menu" id="'
            , id
            , '-menu"></ul></li>'
            ].join('')
          )
        }
      });

      $('h2').each(function(i, e) {
        var h1_id = $(e).prev('h1').text().replace(/[\s\.]/g, '-').toLowerCase()
          , h2_id = $(e).text().replace(/[\s\.]/g, '-').toLowerCase()

        $(e).attr('id', h2_id);

        if (typeof current_h1_id === 'undefined' || h1_id !== '') {
          current_h1_id = h1_id
        }

        if (h1_id === '') {
          h1_id = current_h1_id
        }

        $('ul#'+h1_id+'-menu').append(
          ['<li><a href="#'
          , h2_id
          , '">'
          , $(e).text()
          , '</a></li>'
          ].join('')
        )
      });
      $('.dropdown-toggle').dropdown()

      // Scroll animation
      $('.nav-pills li a').click(function(event) {
          event.preventDefault();
          $('html, body').animate({
            scrollTop: $($($(this).attr('href'))[0]).offset().top - 100
          }, 1500);
      });
    });