extends layout
block content
  .page-header
    h1 @bmpvieira's profile

  article
    //- remove when makeRow() fluid supported
    .row-fluid
      .span12

        include partials/twitter

        .span6
          section.main
            :markdown
              ## Who?
              ### Currently
              PhD Student in Bioinformatics @ [Ants, Genomes & Evolution Group](http://yannick.poulet.org) under the supervision of [Yannick Wurm](http://yannick.poulet.org/team.html)
              [Mozilla Science Lab Fellow](https://science.mozilla.org/blog/intro-to-bruno), founder of [Bionode.io](http://bionode.io)
              ### Previously
              Contributing Web Developer @ [Geeklist](http://geeklist.com)  
              Full Stack Web Developer @ [ESEB2013 (XIV Congress of the European Society for Evolutionary Biology)](http://eseb2013.com)  
              Bioinformatician @ [CoBiG² (Computational Biology & Population Genomics Group)](http://cobig2.fc.ul.pt)

              ## Where?
              ### Currently
              @ [Queen Mary, University of London](http://qmul.ac.uk)
              ### Previously
              @ [Faculty of Sciences of the University of Lisbon](http://www.fc.ul.pt)

              ## What?
              ### Currently
              Contributing to a [Web Application for Crowdsourcing Gene Prediction](https://github.com/bmpvieira/afra) (Ruby, Angular.js, PostgreSQL, etc)  
              Working on [bionode.io](http://bionode.io), a Node.js JavaScript library for client and server side bioinformatics.  
              Doing scientific research in Population Genomics with [Next-generation sequencing](http://en.wikipedia.org/wiki/High-throughput_sequencing) and Bioinformatics  
              ### Previously
              [Built the Geeklist integration with LinkedIn](http://geekli.st/bmpvieira/i-built-the-geeklist-integration-with-linkedin)  
              Built and maintained [ESEB2013](http://eseb2013.com) web app (Node.js, MongoDB, Express.js, Redis, etc)  
              Analyzed [Next-generation sequencing](http://en.wikipedia.org/wiki/High-throughput_sequencing) data and did Linux sysadmin tasks for [CoBiG²](http://cobig2.fc.ul.pt)

              ##Work Interests?
              Genomics, Sequencing, Node.js, Web Apps, Cloud computing, Distributed computing, Open Data, Open Science, Open Source, NoSQL, MongoDB, Neo4j, Python, Ruby, etc

              ##More?
              [Curriculum vitae](/cv)

        include partials/info
