extends layout
block content
  .page-header
    h1 @bmpvieira's profile

  article
    //- remove when makeRow() fluid supported
    .row-fluid
      .span9
        section.main
          :markdown
            #Welcome

            ## Who?
            Bioinformatician @ [CoBiG² (Computational Biology & 
            Population Genomics Group)](http://cobig2.fc.ul.pt)  
            Full Stack Web Developer @ [ESEB2013 (XIV Congress of the European Society for Evolutionary Biology)](http://eseb2013.com)  
            Collaborating Web Developer @ [Geeklist](http://geeklist.com)

            ## Where?
            @ [Faculty of Sciences of the University of Lisbon](http://www.fc.ul.pt)

            ## What?
            Analyze [Next-generation sequencing](http://en.wikipedia.org/wiki/High-throughput_sequencing) data  
            Built and maintain [ESEB2013](http://eseb2013.com) web app (Node.js, MongoDB, Express.js, Redis, etc)  
            Linux sysadmin tasks for [CoBiG²](http://cobig2.fc.ul.pt)  
            [Built the Geeklist integration with LinkedIn](http://geekli.st/bmpvieira/i-built-the-geeklist-integration-with-linkedin)

            ##Work Interests?
            Genomics, Sequencing, Cloud computing, Node.js, Python, NoSQL, MongoDB, Neo4j,...

            ##More?
            [Curriculum vitae](/cv)

      include partials/info
