extends layout
block content
  .page-header
    h1 @bmpvieira's profile

  article
    //- remove when makeRow() fluid supported
    .row-fluid
      .span9
        section.main
          :markdown
            #Welcome

            ## Who?
            Computational biologist @ [CoBiG² (Computational Biology and 
            Population Genomics Group)](http://cobig2.fc.ul.pt)  
            Web developer @ [ESEB2013 (XIV Congress of the European Society for Evolutionary Biology)](http://eseb2013.com)

            ## Where?
            @ [Faculty of Sciences of the University of Lisbon](http://www.fc.ul.pt)

            ## What?
            Analyzing [Next-generation sequencing](http://en.wikipedia.org/wiki/High-throughput_sequencing) data  
            Building ESEB2013 web app in Node.js  
            Linux sysadmin tasks for CoBiG²

            ##Work Interests?
            Sequencing, Cloud computing, Node.js, Python, NoSQL, Neo4j...

            ##More?
            [Curriculum vitae](/cv)

      include partials/info
